{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

   .container {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 40px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 15px;
    }

    @media (max-width: 600px) {
        .container {
            width: 95%;
            margin: 0 auto;
            padding: 20px;
        }
    }
</style>

<div class="container">
    <h1>Контактная информация</h1>
    <p>Адрес: 423234, Российская Федерация, Республика Татарстан, г. Бугульма, улица Калинина, дом. 72</p>
    <p>Телефон: +7(855)-944-34-94</p>
    <p>E-Mail: bugmeduch@mail.ru</p>
</div>

{% endblock %}